@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #282828;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 550px;
  margin: 0 auto;
}

.grupo-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.grupo-form label {
  font-size: 16px;
  font-family: 'Montserrat Semibold', sans-serif;
  margin-bottom: 5px;
}

.grupo-form input, .grupo-form select {
  background: #1A1A1A;
  width: 100%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 14px;
  padding: 0 15px;
  outline: none;
  transition: border-color 0.2s ease-in;
}

.grupo-form input:focus,
.grupo-form select:focus {
  border-color: #FF7373;
}

.grupo-form button {
  background-image: linear-gradient(-90deg, #FF7373 0%, #FDDB33 100%);
  border-radius: 5px;
  border: 0;
  height: 45px;
  color: #1A1A1A;
  font-size: 16px;
  font-family: 'Montserrat Bold', sans-serif;
  cursor: pointer;
}

.grupo-form:last-child {
  margin-top: 40px;
}

.container-result {
  margin-top: 50px;
}

.conteudo-result {
  margin-top: 10px;
  background: #1A1A1A;
  border-radius: 5px;
  padding: 15px;
}

.conteudo-result ul {
  list-style: none;
}

.conteudo-result ul li {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat Bold', sans-serif;
  line-height: 30px;
}

.conteudo-result ul li strong {
  color: #FF7373;
}